b {text-decoration: underline;}
/* .disabled-attribute{display: block;} */   %
!
)
/* .another > .disabled > .attribute {box-shadow: 10px 10px 20px RGBA(255,255,255,0);border: 1px solid hsla(0,0%,100%,.2) !important;} */

span.greentext {color: green;} /* dummy because theme bug is removing first A rule for some reason */
